#title{
	background-color: #008CBA;
	color:white;
	font-family:monospace;
	font-size: 2rem;
	line-height: 3rem;
}

.menu-object{
	text-align: center;
	font-size: 1rem;
	font-family:monospace;
	color:white;
	background-color: #008CBA;
	border:none;
}

.grid-layout1{
	display:grid;
	margin:auto;
	height: 13rem;
	width: 10rem;
	gap:1rem;
}

.grid-layout2{
	display:grid;
	margin:auto;
	height: 4rem;
	width: 10rem;
	gap:1rem;
}
.grid-layout3{
	padding: 4rem;
	display:grid;
	margin:auto;
	height: 4rem;
	width: 7rem;
	gap:1rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	margin:auto;
	font-size: 2rem;
	width: 10rem;
	height: 6rem;
}

button.menu-object:hover:not(:active){
	margin:auto;
	font-size: 1.5rem;
	width: 10rem;
	height: 5rem;
}

.cards-layout{
	display: grid;
	justify-content: center;
	align-content: center;
	padding: auto;
	grid-template-columns: 8rem 8rem 8rem 8rem;
	margin:auto;
}
